<!-- Main Blog Entries -->
{{#each posts as |entry| }}

<div id="main-card" class="entry-card w-50 mb-3 mx-auto">

    <div class="entry-content">
        <h5 id="entry-title"><a href="/entry/{{entry.id}}">{{entry.title}}</a></h5>
        <blockquote class="entry-blockquote mb-2"></blockquote>
        <p class="entry-text">{{entry.contents}}</p>
        <p class="publish-details">Posted by: {{entry.user.username}} on: {{format_date entry.date_posted}}</p>
    </div>

</div>

{{/each}}
